@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#grid-container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 1rem auto;
}

.grid-item {
    flex-grow: 1;
    flex-shrink: 0;
    width: 0.5rem;
}

.highlight {
    background: black;
}

h1 {
    text-align: center;
    margin: 1rem
}

.slider-container {
    text-align: center;
}

#slider {
    width: 50%;
}

#value-container {
    font-size: 1.4rem;;
}
