@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#grid-container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 1rem auto;
    border-radius: 3px;;
}

.grid-item {
    flex-grow: 1;
    flex-shrink: 0;
    width: 0.5rem;
}

.highlight {
    background: black;
}

h1 {
    text-align: center;
    margin: 1rem
}

.tools-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
    align-items: center;
    gap: 1rem;
}

.slider-container {
    text-align: center;
    flex: 2;
}

#slider {
    width: 100%;
}

#value-container {
    font-size: 1.4rem;;
}


#clear-canvas {
  font-size: 1rem;
  background-color: transparent; 
  padding: 1rem;
  border-radius: 3px;;
}



